<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/demo</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="demo.entities.Users" />
        <mapping class="demo.entities.Cameras" />
        <mapping class="demo.entities.Groups" />
        <mapping class="demo.entities.UploadFiles" />
        <mapping resource="demo/entities/Cameras.hbm.xml"/>
        <mapping resource="demo/entities/Groups.hbm.xml"/>
        <mapping resource="demo/entities/UploadFiles.hbm.xml"/>
        <mapping resource="demo/entities/Users.hbm.xml"/>

        <property name="current_session_context_class">thread</property>

    </session-factory>
</hibernate-configuration>