<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/demo</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="model.Users.hbm.xml"/>
        <mapping class="demo.entities.Users" />
        <mapping resource="model.Cameras.hbm.xml"/>
        <mapping class="demo.entities.Cameras" />
        <mapping resource="model.Groups.hbm.xml"/>
        <mapping class="demo.entities.Groups" />
        <mapping resource="model.UploadFiles.hbm.xml"/>
        <mapping class="demo.entities.UploadFiles" />

    </session-factory>
</hibernate-configuration>